In [221]:
class Employee(object):
    
    def __init__(self, firstname, lastname, salary):
        self.firstname=firstname
        self.lastname=lastname
        self.salary=salary
        
    def from_string(string):
        firstname, lastname, salary= string.split('-')
        salary=int(salary)
        emp2=Employee(firstname, lastname, salary)
        return emp2

In [222]:
emp1=Employee("Mary", "sue", 60000)
emp2=Employee.from_string("John-Smith-55000")

In [223]:
print(emp1.firstname, emp1.lastname, emp1.salary)

Mary sue 60000

In [224]:
print(emp2.firstname, emp2.lastname, emp2.salary)

John Smith 55000